---
import { Image } from "astro:assets";

import portrait from "#/assets/portrait.jpg";
import BlogList from "#/components/BlogList.astro";
import Head from "#/components/Head.astro";
import { blogs } from "#/data";
import BaseLayout from "#/layouts/BaseLayout.astro";

const latestPosts = blogs.slice(0, 3);
---

<BaseLayout>
  <Head slot="head" title="Home" />
  <section
    class="grid place-items-center gap-y-8"
    aria-labelledby="about-me-title"
  >
    <h1 id="about-me-title" class="sr-only">About Me</h1>
    <div class="avatar tooltip mx-auto" data-tip="Wassup!">
      <div class="size-40 overflow-hidden rounded-full">
        <Image
          src={portrait}
          alt="Portrait of Jan Carlo Juab"
          loading="eager"
        />
      </div>
    </div>
    <p class="text-center text-pretty">
      Hi! I'm <strong>Jan Carlo</strong>, a web developer who mostly sticks to
      the backend because frontend isn't my thing (but I can still pull it off
      😎). When I'm not coding, I'm at the gym tweaking my workouts, just like
      how I can't help but prematurely over-optimize my code 🥀.
    </p>
  </section>
  <section id="latest-posts" aria-labelledby="latest-posts-title">
    <h2 id="latest-posts-title" class="text-2xl font-bold">Latest Posts</h2>
    <div class="divider divider-neutral mt-0" aria-hidden></div>
    <BlogList blogs={latestPosts} />
  </section>
</BaseLayout>
